
### Vivado ###
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
vivado*.jou
vivado*.log

### VSCode ###
.vscode/

### Scala/Chisel ###
.metals/
.scala-build/
csrc/
out/
build/

### VCS Simulation ###
novas_dump.log
out.fsdb
simv.daidir/
simv
ucli.key
verdi_config_file